// ========================
// バックグラウンド系
// ========================

.u-bg-kc {
  background-color: var(--kc);
}

.u-bg-sc {
  background-color: var(--sc);
}

.u-bg-ac {
  background-color: var(--ac);
}

.u-bg-white {
  background-color: #fff;
}
