@charset "utf-8";

/* ---------------------------------------------------
breadcrumbs
----------------------------------------------------*/

.c-breadcrumbs {
  width: 100%;
  background: #f8f8f8;
  border-top: 1px #eee solid;
  display: none;
  position: relative;
  z-index: 15;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

  @include is-break-lg {
    display: block;
  }

  ol {
    max-width: 1080px;
    min-width: 960px;
    height: 42px;
    background: #f8f8f8;
    margin: 0 auto;
    @include fz(12);
    list-style-type: none;
    background: url(../img/set/breadcrumb_bg.png) left center no-repeat;
    background-size: auto 42px;
    padding: 0 0 0 10px;
    overflow: hidden;
  }

  li {
    line-height: 42px;
    background: url(../img/set/breadcrumb_bg2.png) right center no-repeat #ffffff;
    background-size: auto 42px;
    display: block;
    float: left;
    padding: 0 20px 0 10px;
    &:last-child {
      max-width: 50%;
      font-weight: bold;
      background: url(../img/set/breadcrumb_bg3.png) right center no-repeat #ffffff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      height: 100%;
      color: #000000;
      padding: 0 26px 0 20px;
      text-decoration: none;
      display: block;
      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
    i {
      margin-right: 6px;
    }
  }
}
