@charset "utf-8";

.c-pagination {
  clear: both;
  padding: 20px 0;
  position: relative;
  line-height: 13px;
  background: none;
  margin: 10px 0 20px;
  vertical-align: middle;

  li {
    display: inline-block;
    a {
      display: inline-block;
      margin: 2px 2px 2px 0;
      padding: 6px 9px 5px 9px;
      text-decoration: none;
      width: auto;
      color: #fff !important;
      background-color: #000;
      border-radius: 6px;

      &:hover {
        color: #fff !important;
        background-color: $sc;
        text-decoration: none;
        transition: all 0.3s ease;
      }
    }
    &.current {
      background: $sc;
      border-radius: 6px;
      color: #fff;
      margin: 2px 2px 2px 0;
      padding: 6px 9px 5px 9px;
    }
  }
}
