@charset "UTF-8";

.c-video {
  $this: &;
  overflow: hidden;
  padding: calc(100% * 9 / 16) 0 0;
  position: relative;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}
