@charset "utf-8";

/* ---------------------------------------------------
 - cta
----------------------------------------------------*/

.g-cta {
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  clear: both;
  font-size: 0;
  padding: 32px 0;
  position: relative;
  text-align: center;
  z-index: 10;

  @include is-break-lg {
    padding: 100px 0;
  }

  &__inner {
    position: relative;
    z-index: 10;
  }

  &__ttl {
    @include fz(30);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;

    @include is-break-lg {
      @include fz(40);
    }
  }

  &__sttl {
    @include fz(14);
    font-weight: 700;

    @include is-break-lg {
      @include fz(20);
    }
  }

  &__description {
    @include fz(16);
    font-weight: 700;
    margin-bottom: 32px;

    @include is-break-lg {
      @include fz(12);
      margin: 0 auto 32px auto;
    }
  }
  &__tel {
    width: 50%;
    //border-right: 1px solid #fff;
    display: inline-block;
    vertical-align: top;
    @include is-break-lg {
      width: 50%;
    }
    @include is-break-lg {
      display: none;
    }
    .number,
    .free {
      @include fz(50);
      font-family: 'Impact';
      @include is-break-lg {
        @include fz(40);
      }
    }
  }
  &__mail {
    width: 100%;
    max-width: auto;
    display: inline-block;
    vertical-align: top;

    @include is-break-lg {
      width: 100%;
    }

    &-icon {
      @include fz(20);
      width: 60px;
      height: 60px;
      background: rgba(#000, 0.8);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 30px auto;
      padding: 10px;
    }

    &-ttl {
      width: auto;
      max-width: 100%;
      display: inline-block;
      @include fz(12);
      border: var(--ac) 2px solid;
      border-radius: 100px;
      line-height: 1.2;
      margin: 0 auto 20px auto;
      padding: 10px 20px;

      @include is-break-lg {
        @include fz(14);
        padding: 10px 40px;
      }

    }

    &-description {
      @include fz(14);
    }

    &-contact {
      &-btn {
        width: 100%;
        max-width: 100%;
        @include fz(18);
        background-image: linear-gradient(15deg, rgba(var(--sc-rgb), 1), rgba(var(--ac-rgb), 1));
        background-color: var(--ac);
        border-radius: 50rem;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        margin: 10px auto;
        padding: 10px 20px;
        transition: background-color 0.3s ease;

        @include is-break-lg {
          @include fz(20);
          padding: 16px 40px;
        }

        &.--line {
          &:hover {
            background-color: var(--line);
          }
        }

        &.--instagram {
          &:hover {
            background-color: var(--instagram);
          }
        }

        &:hover {
          color: #fff;
          background-color: var(--kc);
          text-decoration: none !important;
        }
      }
    }
  }

  .g-cta__dl {
    @include fz(14);

    .g-cta__dl-ttl {
      color: #fff;
      margin-bottom: 8px;
    }
  
    .g-cta__dl-link {
      border: 1px solid #fff;
      border-radius: 50rem;
      color: #fff;
      display: inline-block;
      margin-bottom: 8px;
      padding: 4px 20px;
    }
  
  }

  .small {
    @include fz(14);
  }
}


.g-cta-simple {
  color: var(--fc);
  padding: 0;

  .gx-lg-5 {
    --bs-gutter-x: 3rem;

    @include is-break-lg {
      --bs-gutter-x: 8rem;
    }
  }

  .g-cta-simple__inner {
    border-top: 1px solid rgba(var(--fc-rgb), 0.1);
    padding-top: 64px;
    padding-bottom: 0;

    @include is-break-lg {
      border-bottom: 1px solid rgba(var(--fc-rgb), 0.1);
      padding-bottom: 64px;
    }
  }

  .g-cta-simple__ttl {
    @include fz(16);
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 32px;
    position: relative;

    &:before {
      content: attr(data-title);
      @include fz(50);
      color: var(--fc);
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      line-height: 1.2;
      position: absolute;
      top: -60px;
      left: 0;
      right: 0;
    }
  }

  .g-cta-simple__sttl {
    @include fz(16);
    font-weight: 400;
  }

  .g-cta-simple__read {
    @include fz(14);   
  }

  .g-cta-simple__item {
    position: relative;
    margin-top: 60px;

    &:before {
      content: '';
      width: 10%;
      border-top: 1px solid rgba(var(--fc-rgb), 0.1);
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 10;

      @include is-break-lg {
        width: 30%;
      }
    }

    .number {
      color: var(--fc);
      @include fz(32);
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      white-space: nowrap;

      @include is-break-lg {
      }
    }
  }

  svg {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: 20px;
    
    &:not(.nopath) {
      path {
        fill: var(--fc);
      }
    }
  }

  .col-lg-6,
  .col-lg {
    border-top: 1px solid rgba(var(--fc-rgb), 0.1);

    @include is-break-lg {
      border-top: 0;
      border-right: 1px solid rgba(var(--fc-rgb), 0.1);
    }
  }

  .col-lg-6 {
    &:first-child {
      border-top: 0;
    }
  }

  .col-lg {
    &:last-child {
      @include is-break-lg {
        border-right: 0;
      }
    }
  }

}